@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

.card-form {
  display: inline-block;
  margin-bottom: 30px;
  width: 500px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.card-form .form-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background: #3F72AF;
  border-radius: 10px 10px 0 0;
}
.card-form .form-body {
  padding: 10px;
}
.card-form .form-body .row {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.card-form .form-body .row input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin: 0 15px;
  height: 35px;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #DBE2EF;
  color: #576366;
  font-size: 14px;
}
.card-form .rule {
  height: 2px;
  background: #e8ebed;
  margin: 0px 35px;
}
.card-form .form-footer {
  margin: 0 25px 15px 25px;
  padding: 15px 10px;
}
.card-form .form-footer button {
  display: inline-block;
  height: 40px;
  width: 30%;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background: #3F72AF;
  margin-right: 10px;
  font-size: 14px;
  transition: 0.5s ease;
}

.card-form .form-footer button:hover {
    height: 50px;
    width: 32%;
}